* {
  font-family: "Inter";
}
.footerContainer {
  color: #464040;
  font-size: 1.2em;
}
.footerContainer ul li {
  list-style: none;
}
@media screen and (min-width: 750px) {
  form {
    width: 60%;
    margin: 1rem;
  }
  .contactList {
    color: red;
  }
}
