* {
  font-family: "Inter";
}
.footerContainer {
  color: #464040;
  font-size: 1.2em;
}
.footerContainer ul li {
  list-style: none;
}
.button.contactBtn {
  width: auto;

  font-family: "Inter";

  /* padding: 0.5rem 1rem; */
  border-radius: 0.375rem;
  font-weight: 600;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  margin: 0.75rem 0;
}
.button.contactBtn {
  border: 1px solid white;
  color: #464040;
}
.button.contactBtn:hover {
  border: 1px solid #f3f3f3;
  background: #ecd4d4;
}
.locationText {
  font: italic 1em "Fira Sans", serif;
}
@media screen and (min-width: 750px) {
  form {
    width: 60%;
    margin: 1rem;
  }
  .contactList {
    color: red;
  }
}
