* {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.intro {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #464040, #da9797, #464040);
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.mast {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: white;
}

.mast__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: 50%;
}
.mast__text js-spanize {
  background: linear-gradient(142deg, #0000, #b17070, #0000);
}

.image {
  position: relative;
  height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50vh;
  width: 100%;
}
.content span.img-txt {
  background-color: #1c1d21a3;
  text-transform: uppercase;
  color: #b47f7f;
  text-shadow: #1c1d21a3 1px 0 3px;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-weight: 600;
}
h3 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 1.3rem;
  text-align: center;
}
.text-box {
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
  background-color: #ecd4d4;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}
#navbar li:hover {
  color: #ecd4d4;
  cursor: pointer;
}
.navContainer {
  justify-content: flex-end;
}
.glassCardCont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("../images/orange.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
.smallCardContainer {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -6px 5px -6px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 15px;
  transition: all 0.3s ease-in-out;
}

.smallCardContainer:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  border: none;
}
.smallCard {
  backdrop-filter: blur(10px);
  background: #898d9d66;
  border: 2px solid transparent;
}
a {
  color: white;
  font-weight: 600;
}
a:hover {
  color: #1b2430;
}
.glass-card {
  height: 15em;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
@media screen and (min-width: 750px) {
  .toggleBtn {
    visibility: hidden !important;
  }
}
@media screen and (max-width: 750px) {
  .navContainer img {
    display: block;
  }

  .navContainer {
    padding: 51px 55px;
  }
  .glass-card {
    height: 17em;
    width: 20em;
  }
  .smallCardContainer {
    height: auto;
    margin: 6px;
  }
  .smallCard {
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
    background: transparent;
  }
  .card-text {
    font-size: 12px;
  }
  #navbar {
    flex-direction: column;
    height: auto;
    font-size: 15px;
  }
  #navbar li {
    width: 100%;
    text-align: center;
    margin-right: 0px;
    padding: 3px;
  }
  .toggleBtn {
    display: block;
    padding: 0px;
  }
  .center {
    top: 35%;
    left: 86%;
    transform: translate(-3%, -50%);
    position: absolute;
    width: 2em;
  }

  .center:before,
  .center:after,
  .center div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }

  .center:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  .center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .center:hover div {
    transform: scale(0);
  }
  .intro {
    font-size: 1em;
  }
  .content span.img-txt {
    font-size: 12px;
  }
}
